*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

div.btns{
    display: flex;
    justify-content: space-around;
    width:80vw;
    margin:80px auto;
}
.btns button{
    padding:10px;
    font-size: 24px;
    color:#fff;
    border-radius: 20px;
    background: linear-gradient(145deg, #325d43, #3b6e4f);
    box-shadow:  10px 10px 20px #2f583f,
                 20px 20px 10px #3f7655;
}
.btns button:hover{
    opacity: 0.8;
}