* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.g-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.g-container .position {
  position: absolute;
  width: 10%;
  height: 10%;
}

.g-container .position:nth-child(1) {
  top: 0%;
  left: 0%;
}

.g-container .position:nth-child(1):hover ~ .ball {
  display: block;
  top: 5%;
  left: 5%;
}

.g-container .position:nth-child(2) {
  top: 0%;
  left: 10%;
}

.g-container .position:nth-child(2):hover ~ .ball {
  display: block;
  top: 5%;
  left: 15%;
}

.g-container .position:nth-child(3) {
  top: 0%;
  left: 20%;
}

.g-container .position:nth-child(3):hover ~ .ball {
  display: block;
  top: 5%;
  left: 25%;
}

.g-container .position:nth-child(4) {
  top: 0%;
  left: 30%;
}

.g-container .position:nth-child(4):hover ~ .ball {
  display: block;
  top: 5%;
  left: 35%;
}

.g-container .position:nth-child(5) {
  top: 0%;
  left: 40%;
}

.g-container .position:nth-child(5):hover ~ .ball {
  display: block;
  top: 5%;
  left: 45%;
}

.g-container .position:nth-child(6) {
  top: 0%;
  left: 50%;
}

.g-container .position:nth-child(6):hover ~ .ball {
  display: block;
  top: 5%;
  left: 55%;
}

.g-container .position:nth-child(7) {
  top: 0%;
  left: 60%;
}

.g-container .position:nth-child(7):hover ~ .ball {
  display: block;
  top: 5%;
  left: 65%;
}

.g-container .position:nth-child(8) {
  top: 0%;
  left: 70%;
}

.g-container .position:nth-child(8):hover ~ .ball {
  display: block;
  top: 5%;
  left: 75%;
}

.g-container .position:nth-child(9) {
  top: 0%;
  left: 80%;
}

.g-container .position:nth-child(9):hover ~ .ball {
  display: block;
  top: 5%;
  left: 85%;
}

.g-container .position:nth-child(10) {
  top: 0%;
  left: 90%;
}

.g-container .position:nth-child(10):hover ~ .ball {
  display: block;
  top: 5%;
  left: 95%;
}

.g-container .position:nth-child(11) {
  top: 10%;
  left: 0%;
}

.g-container .position:nth-child(11):hover ~ .ball {
  display: block;
  top: 15%;
  left: 5%;
}

.g-container .position:nth-child(12) {
  top: 10%;
  left: 10%;
}

.g-container .position:nth-child(12):hover ~ .ball {
  display: block;
  top: 15%;
  left: 15%;
}

.g-container .position:nth-child(13) {
  top: 10%;
  left: 20%;
}

.g-container .position:nth-child(13):hover ~ .ball {
  display: block;
  top: 15%;
  left: 25%;
}

.g-container .position:nth-child(14) {
  top: 10%;
  left: 30%;
}

.g-container .position:nth-child(14):hover ~ .ball {
  display: block;
  top: 15%;
  left: 35%;
}

.g-container .position:nth-child(15) {
  top: 10%;
  left: 40%;
}

.g-container .position:nth-child(15):hover ~ .ball {
  display: block;
  top: 15%;
  left: 45%;
}

.g-container .position:nth-child(16) {
  top: 10%;
  left: 50%;
}

.g-container .position:nth-child(16):hover ~ .ball {
  display: block;
  top: 15%;
  left: 55%;
}

.g-container .position:nth-child(17) {
  top: 10%;
  left: 60%;
}

.g-container .position:nth-child(17):hover ~ .ball {
  display: block;
  top: 15%;
  left: 65%;
}

.g-container .position:nth-child(18) {
  top: 10%;
  left: 70%;
}

.g-container .position:nth-child(18):hover ~ .ball {
  display: block;
  top: 15%;
  left: 75%;
}

.g-container .position:nth-child(19) {
  top: 10%;
  left: 80%;
}

.g-container .position:nth-child(19):hover ~ .ball {
  display: block;
  top: 15%;
  left: 85%;
}

.g-container .position:nth-child(20) {
  top: 10%;
  left: 90%;
}

.g-container .position:nth-child(20):hover ~ .ball {
  display: block;
  top: 15%;
  left: 95%;
}

.g-container .position:nth-child(21) {
  top: 20%;
  left: 0%;
}

.g-container .position:nth-child(21):hover ~ .ball {
  display: block;
  top: 25%;
  left: 5%;
}

.g-container .position:nth-child(22) {
  top: 20%;
  left: 10%;
}

.g-container .position:nth-child(22):hover ~ .ball {
  display: block;
  top: 25%;
  left: 15%;
}

.g-container .position:nth-child(23) {
  top: 20%;
  left: 20%;
}

.g-container .position:nth-child(23):hover ~ .ball {
  display: block;
  top: 25%;
  left: 25%;
}

.g-container .position:nth-child(24) {
  top: 20%;
  left: 30%;
}

.g-container .position:nth-child(24):hover ~ .ball {
  display: block;
  top: 25%;
  left: 35%;
}

.g-container .position:nth-child(25) {
  top: 20%;
  left: 40%;
}

.g-container .position:nth-child(25):hover ~ .ball {
  display: block;
  top: 25%;
  left: 45%;
}

.g-container .position:nth-child(26) {
  top: 20%;
  left: 50%;
}

.g-container .position:nth-child(26):hover ~ .ball {
  display: block;
  top: 25%;
  left: 55%;
}

.g-container .position:nth-child(27) {
  top: 20%;
  left: 60%;
}

.g-container .position:nth-child(27):hover ~ .ball {
  display: block;
  top: 25%;
  left: 65%;
}

.g-container .position:nth-child(28) {
  top: 20%;
  left: 70%;
}

.g-container .position:nth-child(28):hover ~ .ball {
  display: block;
  top: 25%;
  left: 75%;
}

.g-container .position:nth-child(29) {
  top: 20%;
  left: 80%;
}

.g-container .position:nth-child(29):hover ~ .ball {
  display: block;
  top: 25%;
  left: 85%;
}

.g-container .position:nth-child(30) {
  top: 20%;
  left: 90%;
}

.g-container .position:nth-child(30):hover ~ .ball {
  display: block;
  top: 25%;
  left: 95%;
}

.g-container .position:nth-child(31) {
  top: 30%;
  left: 0%;
}

.g-container .position:nth-child(31):hover ~ .ball {
  display: block;
  top: 35%;
  left: 5%;
}

.g-container .position:nth-child(32) {
  top: 30%;
  left: 10%;
}

.g-container .position:nth-child(32):hover ~ .ball {
  display: block;
  top: 35%;
  left: 15%;
}

.g-container .position:nth-child(33) {
  top: 30%;
  left: 20%;
}

.g-container .position:nth-child(33):hover ~ .ball {
  display: block;
  top: 35%;
  left: 25%;
}

.g-container .position:nth-child(34) {
  top: 30%;
  left: 30%;
}

.g-container .position:nth-child(34):hover ~ .ball {
  display: block;
  top: 35%;
  left: 35%;
}

.g-container .position:nth-child(35) {
  top: 30%;
  left: 40%;
}

.g-container .position:nth-child(35):hover ~ .ball {
  display: block;
  top: 35%;
  left: 45%;
}

.g-container .position:nth-child(36) {
  top: 30%;
  left: 50%;
}

.g-container .position:nth-child(36):hover ~ .ball {
  display: block;
  top: 35%;
  left: 55%;
}

.g-container .position:nth-child(37) {
  top: 30%;
  left: 60%;
}

.g-container .position:nth-child(37):hover ~ .ball {
  display: block;
  top: 35%;
  left: 65%;
}

.g-container .position:nth-child(38) {
  top: 30%;
  left: 70%;
}

.g-container .position:nth-child(38):hover ~ .ball {
  display: block;
  top: 35%;
  left: 75%;
}

.g-container .position:nth-child(39) {
  top: 30%;
  left: 80%;
}

.g-container .position:nth-child(39):hover ~ .ball {
  display: block;
  top: 35%;
  left: 85%;
}

.g-container .position:nth-child(40) {
  top: 30%;
  left: 90%;
}

.g-container .position:nth-child(40):hover ~ .ball {
  display: block;
  top: 35%;
  left: 95%;
}

.g-container .position:nth-child(41) {
  top: 40%;
  left: 0%;
}

.g-container .position:nth-child(41):hover ~ .ball {
  display: block;
  top: 45%;
  left: 5%;
}

.g-container .position:nth-child(42) {
  top: 40%;
  left: 10%;
}

.g-container .position:nth-child(42):hover ~ .ball {
  display: block;
  top: 45%;
  left: 15%;
}

.g-container .position:nth-child(43) {
  top: 40%;
  left: 20%;
}

.g-container .position:nth-child(43):hover ~ .ball {
  display: block;
  top: 45%;
  left: 25%;
}

.g-container .position:nth-child(44) {
  top: 40%;
  left: 30%;
}

.g-container .position:nth-child(44):hover ~ .ball {
  display: block;
  top: 45%;
  left: 35%;
}

.g-container .position:nth-child(45) {
  top: 40%;
  left: 40%;
}

.g-container .position:nth-child(45):hover ~ .ball {
  display: block;
  top: 45%;
  left: 45%;
}

.g-container .position:nth-child(46) {
  top: 40%;
  left: 50%;
}

.g-container .position:nth-child(46):hover ~ .ball {
  display: block;
  top: 45%;
  left: 55%;
}

.g-container .position:nth-child(47) {
  top: 40%;
  left: 60%;
}

.g-container .position:nth-child(47):hover ~ .ball {
  display: block;
  top: 45%;
  left: 65%;
}

.g-container .position:nth-child(48) {
  top: 40%;
  left: 70%;
}

.g-container .position:nth-child(48):hover ~ .ball {
  display: block;
  top: 45%;
  left: 75%;
}

.g-container .position:nth-child(49) {
  top: 40%;
  left: 80%;
}

.g-container .position:nth-child(49):hover ~ .ball {
  display: block;
  top: 45%;
  left: 85%;
}

.g-container .position:nth-child(50) {
  top: 40%;
  left: 90%;
}

.g-container .position:nth-child(50):hover ~ .ball {
  display: block;
  top: 45%;
  left: 95%;
}

.g-container .position:nth-child(51) {
  top: 50%;
  left: 0%;
}

.g-container .position:nth-child(51):hover ~ .ball {
  display: block;
  top: 55%;
  left: 5%;
}

.g-container .position:nth-child(52) {
  top: 50%;
  left: 10%;
}

.g-container .position:nth-child(52):hover ~ .ball {
  display: block;
  top: 55%;
  left: 15%;
}

.g-container .position:nth-child(53) {
  top: 50%;
  left: 20%;
}

.g-container .position:nth-child(53):hover ~ .ball {
  display: block;
  top: 55%;
  left: 25%;
}

.g-container .position:nth-child(54) {
  top: 50%;
  left: 30%;
}

.g-container .position:nth-child(54):hover ~ .ball {
  display: block;
  top: 55%;
  left: 35%;
}

.g-container .position:nth-child(55) {
  top: 50%;
  left: 40%;
}

.g-container .position:nth-child(55):hover ~ .ball {
  display: block;
  top: 55%;
  left: 45%;
}

.g-container .position:nth-child(56) {
  top: 50%;
  left: 50%;
}

.g-container .position:nth-child(56):hover ~ .ball {
  display: block;
  top: 55%;
  left: 55%;
}

.g-container .position:nth-child(57) {
  top: 50%;
  left: 60%;
}

.g-container .position:nth-child(57):hover ~ .ball {
  display: block;
  top: 55%;
  left: 65%;
}

.g-container .position:nth-child(58) {
  top: 50%;
  left: 70%;
}

.g-container .position:nth-child(58):hover ~ .ball {
  display: block;
  top: 55%;
  left: 75%;
}

.g-container .position:nth-child(59) {
  top: 50%;
  left: 80%;
}

.g-container .position:nth-child(59):hover ~ .ball {
  display: block;
  top: 55%;
  left: 85%;
}

.g-container .position:nth-child(60) {
  top: 50%;
  left: 90%;
}

.g-container .position:nth-child(60):hover ~ .ball {
  display: block;
  top: 55%;
  left: 95%;
}

.g-container .position:nth-child(61) {
  top: 60%;
  left: 0%;
}

.g-container .position:nth-child(61):hover ~ .ball {
  display: block;
  top: 65%;
  left: 5%;
}

.g-container .position:nth-child(62) {
  top: 60%;
  left: 10%;
}

.g-container .position:nth-child(62):hover ~ .ball {
  display: block;
  top: 65%;
  left: 15%;
}

.g-container .position:nth-child(63) {
  top: 60%;
  left: 20%;
}

.g-container .position:nth-child(63):hover ~ .ball {
  display: block;
  top: 65%;
  left: 25%;
}

.g-container .position:nth-child(64) {
  top: 60%;
  left: 30%;
}

.g-container .position:nth-child(64):hover ~ .ball {
  display: block;
  top: 65%;
  left: 35%;
}

.g-container .position:nth-child(65) {
  top: 60%;
  left: 40%;
}

.g-container .position:nth-child(65):hover ~ .ball {
  display: block;
  top: 65%;
  left: 45%;
}

.g-container .position:nth-child(66) {
  top: 60%;
  left: 50%;
}

.g-container .position:nth-child(66):hover ~ .ball {
  display: block;
  top: 65%;
  left: 55%;
}

.g-container .position:nth-child(67) {
  top: 60%;
  left: 60%;
}

.g-container .position:nth-child(67):hover ~ .ball {
  display: block;
  top: 65%;
  left: 65%;
}

.g-container .position:nth-child(68) {
  top: 60%;
  left: 70%;
}

.g-container .position:nth-child(68):hover ~ .ball {
  display: block;
  top: 65%;
  left: 75%;
}

.g-container .position:nth-child(69) {
  top: 60%;
  left: 80%;
}

.g-container .position:nth-child(69):hover ~ .ball {
  display: block;
  top: 65%;
  left: 85%;
}

.g-container .position:nth-child(70) {
  top: 60%;
  left: 90%;
}

.g-container .position:nth-child(70):hover ~ .ball {
  display: block;
  top: 65%;
  left: 95%;
}

.g-container .position:nth-child(71) {
  top: 70%;
  left: 0%;
}

.g-container .position:nth-child(71):hover ~ .ball {
  display: block;
  top: 75%;
  left: 5%;
}

.g-container .position:nth-child(72) {
  top: 70%;
  left: 10%;
}

.g-container .position:nth-child(72):hover ~ .ball {
  display: block;
  top: 75%;
  left: 15%;
}

.g-container .position:nth-child(73) {
  top: 70%;
  left: 20%;
}

.g-container .position:nth-child(73):hover ~ .ball {
  display: block;
  top: 75%;
  left: 25%;
}

.g-container .position:nth-child(74) {
  top: 70%;
  left: 30%;
}

.g-container .position:nth-child(74):hover ~ .ball {
  display: block;
  top: 75%;
  left: 35%;
}

.g-container .position:nth-child(75) {
  top: 70%;
  left: 40%;
}

.g-container .position:nth-child(75):hover ~ .ball {
  display: block;
  top: 75%;
  left: 45%;
}

.g-container .position:nth-child(76) {
  top: 70%;
  left: 50%;
}

.g-container .position:nth-child(76):hover ~ .ball {
  display: block;
  top: 75%;
  left: 55%;
}

.g-container .position:nth-child(77) {
  top: 70%;
  left: 60%;
}

.g-container .position:nth-child(77):hover ~ .ball {
  display: block;
  top: 75%;
  left: 65%;
}

.g-container .position:nth-child(78) {
  top: 70%;
  left: 70%;
}

.g-container .position:nth-child(78):hover ~ .ball {
  display: block;
  top: 75%;
  left: 75%;
}

.g-container .position:nth-child(79) {
  top: 70%;
  left: 80%;
}

.g-container .position:nth-child(79):hover ~ .ball {
  display: block;
  top: 75%;
  left: 85%;
}

.g-container .position:nth-child(80) {
  top: 70%;
  left: 90%;
}

.g-container .position:nth-child(80):hover ~ .ball {
  display: block;
  top: 75%;
  left: 95%;
}

.g-container .position:nth-child(81) {
  top: 80%;
  left: 0%;
}

.g-container .position:nth-child(81):hover ~ .ball {
  display: block;
  top: 85%;
  left: 5%;
}

.g-container .position:nth-child(82) {
  top: 80%;
  left: 10%;
}

.g-container .position:nth-child(82):hover ~ .ball {
  display: block;
  top: 85%;
  left: 15%;
}

.g-container .position:nth-child(83) {
  top: 80%;
  left: 20%;
}

.g-container .position:nth-child(83):hover ~ .ball {
  display: block;
  top: 85%;
  left: 25%;
}

.g-container .position:nth-child(84) {
  top: 80%;
  left: 30%;
}

.g-container .position:nth-child(84):hover ~ .ball {
  display: block;
  top: 85%;
  left: 35%;
}

.g-container .position:nth-child(85) {
  top: 80%;
  left: 40%;
}

.g-container .position:nth-child(85):hover ~ .ball {
  display: block;
  top: 85%;
  left: 45%;
}

.g-container .position:nth-child(86) {
  top: 80%;
  left: 50%;
}

.g-container .position:nth-child(86):hover ~ .ball {
  display: block;
  top: 85%;
  left: 55%;
}

.g-container .position:nth-child(87) {
  top: 80%;
  left: 60%;
}

.g-container .position:nth-child(87):hover ~ .ball {
  display: block;
  top: 85%;
  left: 65%;
}

.g-container .position:nth-child(88) {
  top: 80%;
  left: 70%;
}

.g-container .position:nth-child(88):hover ~ .ball {
  display: block;
  top: 85%;
  left: 75%;
}

.g-container .position:nth-child(89) {
  top: 80%;
  left: 80%;
}

.g-container .position:nth-child(89):hover ~ .ball {
  display: block;
  top: 85%;
  left: 85%;
}

.g-container .position:nth-child(90) {
  top: 80%;
  left: 90%;
}

.g-container .position:nth-child(90):hover ~ .ball {
  display: block;
  top: 85%;
  left: 95%;
}

.g-container .position:nth-child(91) {
  top: 90%;
  left: 0%;
}

.g-container .position:nth-child(91):hover ~ .ball {
  display: block;
  top: 95%;
  left: 5%;
}

.g-container .position:nth-child(92) {
  top: 90%;
  left: 10%;
}

.g-container .position:nth-child(92):hover ~ .ball {
  display: block;
  top: 95%;
  left: 15%;
}

.g-container .position:nth-child(93) {
  top: 90%;
  left: 20%;
}

.g-container .position:nth-child(93):hover ~ .ball {
  display: block;
  top: 95%;
  left: 25%;
}

.g-container .position:nth-child(94) {
  top: 90%;
  left: 30%;
}

.g-container .position:nth-child(94):hover ~ .ball {
  display: block;
  top: 95%;
  left: 35%;
}

.g-container .position:nth-child(95) {
  top: 90%;
  left: 40%;
}

.g-container .position:nth-child(95):hover ~ .ball {
  display: block;
  top: 95%;
  left: 45%;
}

.g-container .position:nth-child(96) {
  top: 90%;
  left: 50%;
}

.g-container .position:nth-child(96):hover ~ .ball {
  display: block;
  top: 95%;
  left: 55%;
}

.g-container .position:nth-child(97) {
  top: 90%;
  left: 60%;
}

.g-container .position:nth-child(97):hover ~ .ball {
  display: block;
  top: 95%;
  left: 65%;
}

.g-container .position:nth-child(98) {
  top: 90%;
  left: 70%;
}

.g-container .position:nth-child(98):hover ~ .ball {
  display: block;
  top: 95%;
  left: 75%;
}

.g-container .position:nth-child(99) {
  top: 90%;
  left: 80%;
}

.g-container .position:nth-child(99):hover ~ .ball {
  display: block;
  top: 95%;
  left: 85%;
}

.g-container .position:nth-child(100) {
  top: 90%;
  left: 90%;
}

.g-container .position:nth-child(100):hover ~ .ball {
  display: block;
  top: 95%;
  left: 95%;
}

.g-container .ball {
  display: none;
  width: 10vmax;
  height: 10vmax;
  border: 1px solid #333;
  border-radius: 40%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.2s ease-in 0.1s;
  transition: all 0.2s ease-in 0.1s;
  -webkit-animation: rotate 3s infinite ease-in-out alternate;
          animation: rotate 3s infinite ease-in-out alternate;
  z-index: -1;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: translate(-50%, -50%) scale(0.5) rotate(45deg);
            transform: translate(-50%, -50%) scale(0.5) rotate(45deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: translate(-50%, -50%) scale(0.5) rotate(45deg);
            transform: translate(-50%, -50%) scale(0.5) rotate(45deg);
  }
}
